<div class="row box">
    <div class="sidebar_canvas canvas">
        <div class="treeView">
            <div
                    data-angular-treeview="true"
                    data-tree-id="abc"
                    data-tree-model="treeData"
                    data-node-id="roleId"
                    data-node-label="label"
                    data-node-children="children" >
            </div>
        </div>

    </div>

    <div class="main_canvas canvas">
        <center>
            <div style="margin-top: 40px;">
            <span><b>Selected Node</b> : {{pp}}</span>
            </div>
        </center>
    </div>
</div>